:root {
    --primary-color: #e50914;
    --dakr-color: #141414;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    color: #999;
}
ul { list-style: none; }
a {
    color: #fff;
    text-decoration: none;
}
p {
    margin: 0.5rem 0;
}
h1, h2, h3, h4 {
    color: #fff;
}
img {
    width: 100%;
}

/* container */
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text */
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}
.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #fff;
}
.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
}
.text-content {
    text-align: center;
}
.text-dark {
    color: #999;
}

/* Button */
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
}
.btn:hover {
    opacity: 0.9;
}
.btn-round {
    border-radius: 5px;
}
.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}
.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

/* showcase */
#showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('img/background.jpg') 
        no-repeat center center/cover;
}
/* z-index로 우선순위 꼭 조절해줘야됨! */
#showcase::after{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* 그림자 */
    box-shadow: inset 120px 100px 250px #000000;
}
.showcase-top{
    position: relative;
    height: 90px;
    z-index: 2;
}
.showcase-top img{
    cursor: pointer;
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
.showcase-content{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
}
.showcase-content h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin:0 0 2rem;
}
.showcase-content p{
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

/* tabs */
#tabs {
    background: var(--dakr-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}
#tabs .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}
#tabs .container > div {
    width: 200px;
    position: relative;
    padding: 1.5rem 0;
    cursor: pointer;
}
#tabs .container > div:hover {
    color: #fff;
}
.tab-border {
    border-bottom: 4px solid var(--primary-color);
}

/* tab-content */
#tab-content {
    padding: 3rem 0;
}
#tab-1-content .tab-1-content-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
#tab-1-content .tab-1-content-inner p {
    
}
#tab-1-content .tab-1-content-inner img {
    width: 600px;
}

#tab-2-content .tab-2-content-top {
    display:flex;
    justify-content: center;
    align-items: center;
}
#tab-2-content .tab-2-content-top p {
    flex: 2.5;
}
#tab-2-content .tab-2-content-top a {
    width: 200px;
    flex: 1;
    margin-left: 50px;
}
.tab-2-content-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}
.tab-2-content-bottom div {
    width: 350px;
    text-align: center;
}
.tab-2-content-bottom div .tab-content-subtitle {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#tab-3-content .text-center {
    text-align: center;
}
.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}
.table thead th {
    text-transform: uppercase;
    padding: 0 .8rem;
}
.table tbody tr td {
    color: #999;
    padding: 0.8rem 1.2rem;
    text-align: center;
}
.table tbody tr td:first-child {
    text-align: left;
}
.table tbody tr:nth-child(odd){
    background: #222;
}
.table tbody tr td i.fa-times {
    color: red;
}
.table tbody tr td i.fa-check {
    color: rgb(0, 173, 0);
}

/* footer */
#footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}
#footer, .footer-cols a {
    color: #999;
    font-size: 0.9rem;
}
#footer p {
    margin-bottom: 1.5rem;
}
.footer-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-cols li {
    margin-bottom: 10px;
}