* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.heading{
    color: #fff;
    font-size: 60px;
}
.text{
    color: #fff;
    font-size: 18px;
}
